body {
	background: black;
}



#racer1 {
	height: 100px;
	width: 100px;
	background: white;
	border-radius: 40px;	
}


#racer2 {
	height: 100px;
	width: 100px;
	background: grey;
	border-radius: 40px;

}


p {
	font-size: 40px;
	text-align: center;

}