body {
	background: black;
}



#racer1 {
	height: 100px;
	width: 100px;
	/*position: absolute;
	top: 100px;*/
	background: white;
	border-radius: 40px;	
}


#racer2 {
	height: 100px;
	width: 100px;
	background: grey;
	border-radius: 40px;
/*	position: absolute;
	top: 250px;
*/
}


p {
	font-size: 40px;
	text-align: center;

}