body {
	background-image: url("../images/stars.jpg");
	font-family: 'Russo One', sans-serif;
}



/*header font styles*/

header {
	text-align: center;
	margin: 1% auto;
}



/*main title font*/

h2 {
	font-size: 80px;
	font-weight: bold;
	color: yellow;
	margin: 1% auto;
	background: black;
	text-align: center;
	width: 50%;
}



/*instruction font*/

h3 {
	font-size: 18px;
	font-weight: bold;
	color: yellow;
	margin: 1% 0 3% 0;
	display: inline;
	background: black;
}



/*track background*/

#board {

	background-image: url("../images/desert.jpg");
	background: no-repeat cover;
	width: 100%;
	height: 100%;
	margin: auto 0;

}


/*racer1*/

#racer1 {
margin-top:5%;
}


/*racer2*/

#racer2 {
margin-bottom:5%;
}


/*reset button*/

#resetButton {
	height: 100px;
	width: 300px;
	background: black;
	border: 8px double yellow;
	color: yellow;
	border-radius: 10px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 800;
	font-family: 'Russo One', sans-serif;
}


/*div containing reset button*/

#resetDiv {
text-align: center;
margin-top: 3%;
}